.list {
  border-top: var(--border);
  display: grid;
  padding-top: 1rem;

  margin-bottom: 1.3rem;
}
.title {
  font-size: 1.25rem;
  margin-bottom: 0.6rem;
}

@media screen and (max-width: 600px) {
  .list {
    grid-template-columns: repeat(1, 100%);
  }
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (min-width: 992px) {
  .list {
    grid-template-columns: repeat(3, 33.3%);
  }
}

@media screen and (min-width: 1200px) {
  .list {
    grid-template-columns: repeat(5, 20%);
  }
}
