.content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-bottom: 1rem;
}
.button {
  flex: 1;
  border-radius: 0.3rem;
}

.title {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.title > svg {
  color: var(--color-light-gray);
}

.selected {
  background-color: #a3b7b5;
}
